/* Fonts */
@font-face {
  src: url(../fonts/SourceSansPro-Regular.ttf);
  font-family: Source Sans Pro Regular;
}

@font-face {
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
  font-family: Source Sans Pro ExtraLight;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
        display: none;
}
      
/* Hide scrollbar for IE, Edge and Firefox */
* {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}

.photo-container {
        width: 99%;
        margin: 0 auto;
}

#masonry {
        opacity: 0;
        transition: all 0.5s;
}
.show {
        opacity: 1!important;
}

.grid-item img {
        width: 100%;
        height: auto;
        display: block;
        transition: 0.3s all ease;
        cursor: pointer;
}

.grid-item img:hover {
        transform: scale(0.92);
}

.modal {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.95);
        color: #fff;
        z-index: 1;
        overflow: auto;
        opacity: 0;
        pointer-events: none;
}

.modalContent {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.modalImg {
        object-fit: contain;
        max-height: 78vh;
        width: 95%;
}

.modalTxt {
        font-family: Source Sans Pro ExtraLight;
        margin-top: 0.4em;
}

.close {
        position: absolute;
        top: 1em;
        right: 1.5em;
        font-size: 1.5em;
        cursor: pointer;
}

.modal.appear {
        opacity: 1;
        pointer-events: all;
}

.modal.appear .modalImg, 
.modal.appear .modalTxt {
        animation: zoom 0.3s linear;
}

@keyframes zoom {
        from {
                transform: scale(0);
        }
        to {
                transform: scale(1);
        }
}

#photoHeader {
        font-size: 24px;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        height: 235px;
        height: 235px;
}

@media(max-width: 770px) {
    #photoHeader {
        font-size: 24px;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        height: 235px;
    }
}

@media(max-width: 628px) {
    #photoHeader {
        font-size: 24px;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        height: 235px;
    }
}

@media(max-width: 470px) {
    #photoHeader {
        font-size: 18px;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        height: 200px;
    }
}

#photoHeader a {
    font-family: Source Sans Pro Regular;
    background: linear-gradient(to right, #f32170, #ffeb07);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
                background-clip: text;
        text-shadow: 0 0 10px #0b0b0b;
}