@font-face {
        src: url(fonts/SourceSansPro-Regular.ttf);
        font-family: Source Sans Pro Regular;
}
@font-face {
        src: url(fonts/SourceSansPro-ExtraLight.ttf);
        font-family: Source Sans Pro ExtraLight;
}

/* index styling */
body {
        margin: 0;
        padding: 0;
        background: #0b0b0b;
}

header {
        padding: 30px 10%;
        top: 20px;
        left: 50%;
}

li {
        display:inline-block;
}

li a {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-family: Source Sans Pro ExtraLight;
        font-weight: lighter;
        font-size: 25px;
        padding: 0 20px;
}

.underlined-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width, .3s;
}

.underlined-link:hover::after {
        width: 100%;
        transition: width .3s;
}